.card {
  border: 2px solid black;
  border-radius: 6px;
  text-align: center;
  height: 30px;
  padding: 10px;
  line-height: 5px;
  font-size: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease-in 200ms;
  &:hover {
    transform: translate3d(0, -3px, 0);
  }
  &.selected {
    color: lightcoral;
    border-color: lightcoral;
    transform: translate3d(0, -3px, 0);
  }
}
